html,body,nav,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr, acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong, sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption, tbody,tfoot,thead,tr,th,td{border:0;outline:0;vertical-align:baseline; background:transparent;margin:0;padding:0;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

body{
    background-color: #E8EAF6;
    padding-left: 5%;
    padding-right: 5%;
    min-width: 600px;
    font-family:sans-serif,SAN-SERIF;
    font-size: 12px;
}
header{background-color: #1A237E;}

#header{
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

.title{
    font-weight: bold;
    color: white;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 12px;
}

h2.title{
    background-color: #7986CD;
    text-transform: uppercase;
}

#intro{
    font-family: 'Times New Roman',sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

nav{
    color: white;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-bottom: 0.3em;
}

.top_nav{background-color: #3F51B5;}

a{color: #00B0FF;}
.link:link {color: #00B0FF;}
.link:hover {
        background-color:#F50057;
        padding: 0.3em 0.3em 0.3em 0.3em;
        color:white;
    }

.link{padding-right: 0.6em;}

div{
    background-color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.main{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.part{
    margin-top: 0.5em;
    padding:0;
    border-style: solid;
    border-color: #C5CAE9;
}
.first{margin-top: 0;}


img.photo{
    height: 100%;
    width: 100%;
}
figcaption{
    color:#7990A3;
    background-color: #C5CAE9;
    padding:0.5em 1em 0.5em 1em;
    font-family: 'Times New Roman',sans-serif;
}

.content{
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    font-family: 'Times New Roman',sans-serif;
}

.content.option{
    text-align: right;
}

.place{font-weight: bold;}
h3{
    font-family: 'Times New Roman',sans-serif;
    font-style: italic;
    color: #C5CAE9;
    margin-bottom: 0.5em;
}
time{color: #F5A2C1;}
p.comment{
    font-family: 'Times New Roman',sans-serif;
    padding-bottom: 0.5em;
}
hr{margin-bottom: 0.5em;}

footer{
    padding:1em 1em 1em 0;
    background-color: #1A237E;
}
#copyright{
    padding-left: 1em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    color: white;
    font-style: italic;
}
